<tree-root
    #tree
    *ngIf="nodes"
    [focused]="true"
    [nodes]="nodes"
    [options]="options"
    (initialized)="onInitialized($event)"
    (activate)="onNodeSelected($event)"
>
    <ng-template #loadingTemplate></ng-template>

    <ng-template
        #treeNodeTemplate
        let-node
        let-index="index"
    >
        <a>
            <span *ngIf="node.data.nodeLevel == 0">{{ node.data.name }}</span>

            <span *ngIf="node.data.nodeLevel > 0">
                {{node.data.name.length > 40 ? node.data.name.substr(0, 40 - 1) + '...' : node.data.name}}
            </span>
        </a>
    </ng-template>
</tree-root>
