<div class="main-content">
    <div class="header">
        <h2>angular-2-tree Example</h2>
    </div>

    <hr>

    <div class="row">
        <div class="tree">
            <h2>Tree Component</h2>
            <div>
                <app-users-tree (onNodeSelection)="receiveSelectedNode($event)"></app-users-tree>
            </div>
        </div>

        <div
            class="tree-content"
            *ngIf="selectedNode"
        >
            <div class="content-title">
                <span class="content-title-name">
                    <h2>Selected Node Item</h2>
                </span>
                <span class="add-node-item">
                    <button>Add User</button>
                </span>
            </div>

            <div class='user-profile'>
                <div class='user-image'></div>
                <div class="user-content">
                    <span class="user-name">{{selectedNode.userData.name}}</span>
                    <br>
                    <span>
                        Posts:
                        <span class="posts-count">{{selectedNode.userData.posts.length}}</span>
                    </span>
                </div>
            </div>

            <hr>

            <!-- <div *ngIf="selectedNode.nodeLevel == 1"> -->
            <div
                *ngIf="selectedNode.nodeLevel"
                class="posts-section"
            >
                <div>
                    <b>POST: {{'  '}}</b>
                    <span *ngIf="selectedNode.nodeLevel == 1">{{selectedNode.name}}</span>

                    <span *ngIf="selectedNode.nodeLevel == 2">
                        {{getPostNameByUuid(selectedNode.userData.posts, selectedNode.postUuid)}}
                    </span>
                </div>

                <div
                    *ngIf="selectedNode.nodeLevel == 2"
                    class="comment"
                >
                    <b>COMMENT:</b>
                    <br>
                    {{selectedNode.name}}
                    <br>
                    <span class="comment-user">
                        by
                        <b>{{selectedNode.userData.name}}</b>
                    </span>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <p>Designed by @ Dianne Prinsescah</p>
    </div>
</div>
