<div class="main-content">
    <div class="header">
        <h2>angular-2-tree Example</h2>
    </div>

    <hr>

    <div class="row">
        <div class="tree">
            <h2>Tree Component</h2>
            <div>
                <app-users-tree (onNodeSelection)="receiveSelectedNode($event)"></app-users-tree>
            </div>
        </div>

        <div
            class="tree-content"
            *ngIf="selectedNode"
        >
            <h2>Selected Node Item</h2>

            <p>NAME: {{selectedNode.userData.name}}</p>

            <div *ngIf="selectedNode.nodeLevel == 1">
                <p>POST: {{selectedNode.name}}</p>
            </div>

            <div *ngIf="selectedNode.nodeLevel == 2">
                <p>
                    POST: {{getPostNameByUuid(selectedNode.userData.posts, selectedNode.postUuid)}}
                </p>
                <p>COMMENT: {{selectedNode.name}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <p>Designed by @ Dianne Prinsescah</p>
    </div>
</div>
