<div class="main-content">
    <div class="header">
        <h2>angular-2-tree Example</h2>
    </div>

    <hr>

    <div class="row">
        <div class="tree">
            <h2>Tree Component</h2>
            <div>
                <app-users-tree (onNodeSelection)="receiveSelectedNode($event)"></app-users-tree>
            </div>
        </div>

        <div
            class="tree-content"
            *ngIf="selectedNode"
        >
            <form
                #f="ngForm"
                (ngSubmit)="onSubmit(f)"
            >
                <div
                    class='user-profile'
                    *ngIf="!showForm || (showForm && selectedNode.nodeLevel !== 0)"
                >
                    <div class='user-image'></div>
                    <div class="user-content">
                        <span class="user-name">{{selectedNode.userData.name}}</span>
                        <br>
                        <span>
                            Posts:
                            <span class="posts-count">{{selectedNode.userData.posts.length}}</span>
                        </span>
                    </div>

                    <span class="add-node-item">
                        <button
                            type="button"
                            (click)="displayForm(0)"
                        >
                            Add User
                        </button>
                    </span>
                </div>

                <div
                    *ngIf="showForm && selectedNode.nodeLevel === 0 && !editMode"
                    class="input-section"
                >
                    <label for="username">Username:</label>
                    <input
                        type="text"
                        name="username"
                        ngModel
                        required
                    >
                </div>

                <hr>

                <div class="posts-section">
                    <div *ngIf="!showForm">
                        <b>POST: {{'  '}}</b>
                        <span *ngIf="selectedNode.nodeLevel == 1">
                            <span
                                class="edit"
                                (click)="toggleEditMode(f, selectedNode)"
                            >
                                <i class="fa fa-edit"></i>
                            </span>

                            <span (click)="onDelete(selectedNode)">
                                <i class="fa fa-trash"></i>
                            </span>
                            <br>
                            {{selectedNode.name}}
                            <!-- <span
                                class="edit"
                                (click)="toggleEditMode(f, selectedNode)"
                            >
                                <i class="fa fa-edit"></i>
                            </span>

                            <span (click)="onDelete(selectedNode)">
                                <i class="fa fa-trash"></i>
                            </span> -->
                        </span>

                        <span *ngIf="selectedNode.nodeLevel == 2">
                            {{getPostNameByUuid(selectedNode.userData.posts, selectedNode.postUuid)}}
                        </span>
                    </div>
                    <div *ngIf="showForm && selectedNode.nodeLevel == 1">
                        <div class="input-section">
                            <label for="title">Post title:</label>
                            <input
                                type="text"
                                name="postTitle"
                                ngModel
                                required
                            >
                        </div>

                        <div class="input-section">
                            <label for="title">Author:</label>
                            <input
                                type="text"
                                name="author"
                                ngModel
                                required
                            >
                        </div>
                    </div>

                    <div
                        *ngIf="!showForm && selectedNode.nodeLevel == 2"
                        class="comment"
                    >
                        <b>COMMENT: {{'  '}}</b>
                        <span
                            class="edit"
                            (click)="toggleEditMode(f, selectedNode)"
                        >
                            <i class="fa fa-edit"></i>
                        </span>

                        <span (click)="onDelete(selectedNode)">
                            <i class="fa fa-trash"></i>
                        </span>

                        <br>
                        {{selectedNode.name}}
                        <br>
                        <span class="comment-user">
                            by
                            <b>{{selectedNode.userData.name}}</b>
                        </span>
                    </div>

                    <div *ngIf="showForm && selectedNode.nodeLevel == 2">
                        <label for="comment">Body:</label>
                        <textarea
                            name="comment"
                            cols="70"
                            rows="4"
                            ngModel
                            required
                        >
                        </textarea>
                    </div>

                    <div *ngIf="!showForm && selectedNode.nodeLevel == 1">
                        <p>You haven't selected any comment</p>

                        <button
                            *ngIf="actionButtonText"
                            type="button"
                            (click)="displayForm(2)"
                        >
                            {{actionButtonText}}
                        </button>
                    </div>
                </div>

                <div *ngIf="!showForm && selectedNode.nodeLevel == 0">
                    <p>You haven't selected any post</p>

                    <button
                        *ngIf="actionButtonText"
                        type="button"
                        (click)="displayForm(1)"
                    >
                        {{actionButtonText}}
                    </button>
                </div>

                <!-- Action Buttons -->
                <div
                    *ngIf="showForm"
                    class='form-footer'
                >
                    <br>
                    <button
                        type="submit"
                        class="button-primary save"
                        [disabled]="!f.valid"
                    >
                        Save
                    </button>
                    <button
                        type="button"
                        class="button-secondary save"
                        (click)="onCancel(f)"
                    >
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="row footer-tag">
        <p>Designed by @ Dianah Amimo</p>
    </div>
</div>
